.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    z-index: 10000;
}

.navbar a {
    font-size: 1.4rem;
    padding: 1rem;
    color: var(--light-color);
    border: .1rem solid transparent;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
}

.navbar a:hover {
    color: #fff;
    /*border: .1rem solid rgba(255, 255, 255, 0.8);*/
    font-size: 150%;
    /* Muuta tarvittaessa */
    border-radius: 2px;
}

/*body {
    background-image: url(salibandy.png);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    
}*/
.textContainer {
    align-items: center;
    justify-content: center;
    padding-top: 300px;

}

.allArticles {
    display: flex;
    margin: 0px;
    padding: 5px;
    background-color: white;
    align-items: center;
}

.overLay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 0, 42, 0.2);
}

.container {
    background-image: url(salibandy.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-top: 50px;
}

.container1{
    background-image: url(salibandy.png);
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    justify-content: center;
    background-attachment: fixed;
}

.container2 {
    display: flex;
    flex-direction: column;
    margin:  50px;
}


.test{
    min-height: 100vh;
    background-color: lightblue;
}
.container3 {
    height: 100%;
    background:   url(salibandy\ taustakuva.png)  center/ auto 100% no-repeat;
    padding-top: 150px;
}

.container4 {
    display: flex;
    justify-content: center;
}

.container5 {
    min-height: 100vh;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container6 {
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.container7{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container8{
    display: flex;
    background-image: url(salibandy.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
    padding-bottom: 20px;
    justify-content: center;
}

.container9{
    display: flex;
    flex-direction: column;
}
.content {
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    margin-top: 20px;
    border-radius: 10px;
    max-width: 50%;
    margin-left: auto;
}

.content1 {
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    margin-top: 20px;
    border-radius: 10px;
    max-width: 75%;
}

.content2 {
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    margin-top: 20px;
    border-radius: 10px;
    max-width: 60%;
}

.content3 {
    padding: 20px;
    background-color: rgba(255,255,255,0.8);
    border-radius: 10px;
    max-width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content4 {
    max-width: 100%;
    overflow: auto;
}

.content5{
    max-width: 60%;
    padding-right: 30px;
}

.content6 {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    max-width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content7 {
    max-width: 50%;
}

.content8 {
    max-width: 50%;
}

.footer{
    text-align: center;
    background: lightgrey;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.logo{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.logo2 {
    max-width: 100%;
    align-items: center;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed;
}

th {
    border-bottom: 2px solid black;
}

td{
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.taulu {
    border-right: 2px solid black;
}

.playoffs{
    background-color: darkgoldenrod;
}

.karsija {
    background-color: red;
}

.links{
    text-decoration: none;
}